$kasa-orange: #FF6060;


.nav-link-header {
    margin: 15px;
    text-decoration: none;
    color: black;
}

.nav-link-header-selected {
    text-decoration: underline black;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 40px;
    align-items: center;
    justify-content: space-between;
}

.banner {
    margin: 40px;
    height: 223px;
    width: 93%;
}

.banner-txt {
    position: absolute;
    top: 4.5em;
    left: 33%;
    font-size: 50px;
    color: white;
}

.kasa-logement article :hover {
        transform: scale(1.1);
    }

.kasa-logement {
    display: flex;
    justify-content: center;
    

    .kasa-logement-list {
        list-style-type: none;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1100px;
        justify-content: center;
        background-color: rgb(240, 230, 230);
        border-radius: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 30px;
        
        .kasa-logement-item {
            margin: 10px;
            display: flex;
            flex-direction: column;
            text-transform: capitalize;
            padding: 10px;
            border-radius: 10px;
            color: white;
            text-decoration: none;
            width: 310px;
            height: 310px;
            font-weight: bold;
            
            
            .kasa-logement-item-cover {
                height: 310px;
                width: 310px; 
                border-radius: 20px; 
            }
            .kasa-logement-title {
                    position: relative;
                    bottom: 60px;
                    left: 7px;
                    
                }    
        }
    } 
}




.footer {
    display: flex;
    background-color: black;
    color: white;
    margin-left: -1%;
    padding: 30px;
    margin-bottom: -1%;
    justify-content: center;
    .footer-items {
        margin-left: 22%;
    }
    
}

.carousel {
    display: flex;
    justify-content: center;
}
.carouselImg {
    height: 415px;
    width: 90vw;
    border-radius: 20px;
}
/*.carousel button {
    position: absolute;
}
*/
.logementHost {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 2vw;
}


.titrePageLogement {
    color: $kasa-orange;
}

.tagsLogements {
    background-color: $kasa-orange;
    border-radius: 10px;
    color: white;
    margin-right: 15px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: bold;
}

.rating {
    font-size: 30px;
    position: absolute;
    right: 60px;
}

.kasa-star {
    color: $kasa-orange
}

.grey-star {
    color: grey;
}

.hostName {
    position: absolute;
    color: $kasa-orange;
    right: 180px;
}

.hostImg {
    margin-top: 10px;
    border-radius: 80px;
    height: 50%;
}

.dropdown {
    background-color: $kasa-orange;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    max-width: 200px;
}

.dropdownList {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 20px;
}


